@font-face {  
font-family: 'D-DIN';  //重命名字体名
src: url('D-DIN.ttf');  //引入字体
font-weight: normal;  
font-style: normal;  
}
@font-face {  
    font-family: 'D-DINCondensed-Bold';  //重命名字体名
    src: url('D-DINCondensed-Bold.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'D-DINCondensed';  //重命名字体名
    src: url('D-DINCondensed.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}


@font-face {  
    font-family: 'dapingA';  //重命名字体名
    src: url('dapingA.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'dapingB';  //重命名字体名
    src: url('dapingB.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'dapingC';  //重命名字体名
    src: url('dapingC.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'dapingD';  //重命名字体名
    src: url('dapingD.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}
@font-face {  
    font-family: 'dapingE';  //重命名字体名
    src: url('dapingE.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'dapingF';  //重命名字体名
    src: url('dapingF.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}

@font-face {  
    font-family: 'number';  //重命名字体名
    src: url('number.ttf');  //引入字体
    font-weight: normal;  
    font-style: normal;  
}