.dark {

  // 侧边栏标题
  .sidebar-logo-container {
    background-color: #232C36 !important;
    border: 1px solid #2a2f39 !important;

    .sidebar-logo-link .sidebar-title {
      font-weight: bold;
      font-size: 18px;
      // background-image: -webkit-linear-gradient(bottom, red, #fd8403, yellow);
      background-image: linear-gradient(180deg, #FFFFFF 0%, #BEC5CC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // 侧边栏一级菜单样式
  // #CBE6FF 100%
  .app-container {
    // background-color: red!important;
    margin: 0 20px !important;
    background-image: linear-gradient(179deg, rgba(28, 36, 44, 0.35) 0%, rgba(49, 63, 82, 0.00) 89%, rgba(90, 111, 130, 0.20) 100%) !important;
    border-bottom: 1px solid #5B6A83;

    // 页面搜索区域
    .operateBox {
      padding: 10px 0 10px 0 !important;
      ;

      // 表单
      .el-form.el-form--inline {
        margin: 0 !important;

        .el-form-item {
          display: inline-block;
          margin-bottom: 0 !important;
          margin-right: 10px !important;
          vertical-align: top;
        }
      }
    }

    .showTableBox {
      margin-top: 0;

      .el-table {
        background-color: transparent;

        .el-table__header-wrapper {
          border-bottom: 1px solid transparent;

          th,
          tr {
            background-color: transparent;
            font-size: 14px;
            color: #FFFFFF;
            border-bottom: 1px solid rgba(66, 72, 79, 1);
            letter-spacing: 0;
            line-height: 14px;
            font-weight: 600;

          }
        }

        .el-table__row:nth-child(2n-1) {
          background: #0A0F14 !important;
        }

        .el-table__row:nth-child(2n) {
          background: #101821 !important;
        }

        .el-table__body-wrapper.is-scrolling-none {
          height: 100%;
          overflow: auto;

          tr {
            background-color: transparent;
            border: none;

            td {
              color: #CCCCCC;
              font-weight: 400;
              border-bottom: 1px solid transparent;
            }
          }
        }


      }

      .el-table--enable-row-hover .el-table__body tr:hover>td {
        background: #16212D;
      }

      .el-table--group::after,
      .el-table--border::after,
      .el-table::before {
        background-color: rgba(66, 72, 79, 1) !important;
      }

      // 按钮组
      .pagination-container {
        background-color: transparent;

        .el-pagination__jump {
          color: #ccc;
        }

        span.el-pagination__total {
          color: #CCCCCC;
        }

        button.btn-prev,
        button.btn-next {
          color: #fff;
          background: #19232C;
          border: 1.22px solid rgba(66, 72, 79, 1);
          border-radius: 2px;
        }

        button.btn-prev:disabled,
        button.btn-next:disabled {
          color: #ccc;
          background: #19232C;
          border: 1.22px solid rgba(66, 72, 79, 1);
          border-radius: 2px;
        }

        li.more.btn-quicknext,
        li.more.btn-quickprev {
          color: #fff;
          background: #19232C;
          border: 1.22px solid rgba(66, 72, 79, 1);
          border-radius: 2px;
        }

        li.number {
          color: #fff;
          background: #19232C;
          border: 1.22px solid rgba(66, 72, 79, 1);
          border-radius: 2px;
        }

        li.number.active {
          color: #fff;
          background: #007DE3;
          border: 1.22px solid rgba(0, 125, 227, 1);
          border-radius: 2px;
        }
      }
    }

    .el-table {
      background-color: transparent;

      .el-table__header-wrapper {
        border-bottom: 1px solid transparent;

        th,
        tr {
          background-color: transparent;
          font-size: 14px;
          color: #FFFFFF;
          border-bottom: 1px solid rgba(66, 72, 79, 1);
          letter-spacing: 0;
          line-height: 14px;
          font-weight: 600;

        }
      }

      .el-table__row:nth-child(2n-1) {
        background: #0A0F14 !important;
      }

      .el-table__row:nth-child(2n) {
        background: #101821 !important;
      }

      .el-table__body-wrapper.is-scrolling-none {
        height: 100%;
        overflow: auto;

        tr {
          background-color: transparent;
          border: none;

          td {
            color: #CCCCCC;
            font-weight: 400;
            border-bottom: 1px solid transparent;
          }
        }
      }


    }

    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background: #16212D;
    }

    .el-table--group::after,
    .el-table--border::after,
    .el-table::before {
      background-color: rgba(66, 72, 79, 1) !important;
    }

    // 弹窗
    .el-dialog {
      background-image: linear-gradient(0deg, #24292F 0%, #101419 100%);
      border: 1px solid rgba(44, 59, 79, 1);
      border-top: 2px solid #4A596E;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 0 !important;
      transform: translate(-50%, -50%);

      // 弹窗头部
      .el-dialog__header {
        padding: 15px;
        // padding-bottom: 10px;
        border-bottom: 1px solid #2C3B4F;

        // 弹窗标题
        .el-dialog__title {
          font-size: 16px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: left;
          line-height: 16px;
          font-weight: 600;
        }

        .el-dialog__headerbtn {
          top: 14px;
        }

        // 关闭
        i.el-dialog__close.el-icon.el-icon-close {
          font-size: 18px;
          // top: 16px;
          color: #FFFFFF;
          line-height: 16px;
        }
      }

      // 菜单切换
      ul.el-menu--horizontal.el-menu {
        background-color: transparent;
        margin: 0 15px;
        border-right: none !important;
        border-bottom: solid 1px #053D6A;

        li.el-menu-item {
          height: 45px;
          line-height: 45px;
          color: #8B9093;
          background-color: transparent !important;
          font-weight: 600;
          border-bottom: 2px solid transparent;
        }

        li.el-menu-item:hover {
          color: #FFFFFF !important;
          font-weight: 600;
          background-color: transparent !important;
          border-bottom: 2px solid #1890ff !important;
          font-weight: 600;
        }

        li.el-menu-item.is-active {
          color: #FFFFFF;
          font-weight: 600;
          background-color: transparent !important;
          border-bottom: 2px solid #1890ff;
        }
      }


    }
  }

  // 表单元素
  // 下拉框
  .el-select {
    .el-input__inner {
      background: rgba(17, 21, 26, 0.75);
      border: 1px solid rgba(74, 89, 110, 1);
      border-radius: 2px;
    }

    .el-input__inner:hover {
      border: 1px solid rgba(74, 89, 110, 1);
    }
  }

  //多选下拉框
  .el-select__tags {
    .el-tag {
      background: #2E3339;
      border: 1px solid rgba(142, 160, 179, 1);
      border-radius: 2px;
      color: #fff;
    }
  }

  // .el-cascader__tags .el-tag {
  //   background-color: #4c608a;
  // }

  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    // background: rgba(17, 21, 26, 0.75);
    background: #177DDC;
  }

  // 下拉框内容
  .el-select-dropdown {
    border: 1px solid #212A32;
    background: #212A32;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    .el-select-dropdown__list {
      .el-select-dropdown__item {
        color: #FFFFFF;
      }

      .el-select-dropdown__item:hover,
      .el-select-dropdown__item.hover {
        color: #FFFFFF;
        background: #177DDC;
      }
    }
  }

  .el-select .el-input.is-disabled .el-input__inner:hover {
    border: 1px solid rgba(38, 48, 62, 1);
  }


  // 下拉框三角
  .el-popper {
    .popper__arrow {
      border-bottom-color: #212A32;
      box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.48);
      box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.32);
      box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2);
    }

    .popper__arrow::after {
      border-bottom-color: #212A32;
    }
  }

  // 树形下拉框样式
  .vue-treeselect__control {
    color: #FFF;
    background: rgba(17, 21, 26, 0.75);
    border: 1px solid rgba(74, 89, 110, 1);
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 5px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 36px;
    font-weight: normal !important;

    .vue-treeselect__single-value {
      color: #FFF;
      font-weight: 100 !important;
    }
  }

  .vue-treeselect__menu-container {
    margin-top: 5px;
    font-weight: normal !important;

    .vue-treeselect__menu {
      background-color: #212A32;
      border: 1px solid #212A32;
      color: #FFF;
      font-weight: 100 !important;

      .vue-treeselect__list {
        font-weight: normal !important;

        .vue-treeselect__option--highlight {
          background: #0098FF !important;
          color: #fff !important;
          font-weight: 100 !important;

          span {
            font-weight: 100 !important;
          }
        }

        .vue-treeselect__option--selected {
          background-color: transparent;
          color: #0098FF;
          font-weight: 100 !important;
        }
      }
    }
  }

  // 树结构下拉选中框
  .el-tree {
    position: relative;
    cursor: default;
    background: transparent;
    color: #fff;
  }

  .el-tree-node__content:hover {
    background: transparent;
  }

  .el-tree-node:focus>.el-tree-node__content {
    background: transparent;
  }

  span.el-tree-node__expand-icon.el-icon-caret-right {
    color: #fff;
  }

  // 输入框
  .el-input {
    .el-input__inner {
      background: rgba(17, 21, 26, 0.75);
      border: 1px solid rgba(74, 89, 110, 1);
      border-radius: 2px;
      color: #fff;
    }
  }

  .el-input.is-disabled {
    .el-input__inner {
      background: rgba(17, 21, 26, 0.75);
      border: 1px solid rgba(38, 48, 62, 1);
      border-radius: 2px;
      color: #9FA7B3;
      font-weight: 400;
    }
  }

  // 文本框
  .el-textarea {
    .el-textarea__inner {
      background: rgba(17, 21, 26, 0.75);
      border: 1px solid rgba(74, 89, 110, 1);
      border-radius: 2px;
      color: #fff;
    }
  }

  .el-textarea.is-disabled {
    .el-textarea__inner {
      background: rgba(17, 21, 26, 0.75);
      border: 1px solid rgba(38, 48, 62, 1);
      border-radius: 2px;
      color: #9FA7B3;
      font-weight: 400;
    }
  }

  // 级联
  .el-popper.el-cascader__dropdown {
    border: none;
    background: #212A32;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  .el-cascader__search-input {
    background: transparent;
  }

  .el-cascader-node {
    color: #FFFFFF;
  }

  .el-cascader-node:not(.is-disabled):hover,
  .el-cascader-node:not(.is-disabled):focus {
    background: #177DDC !important;
    color: #fff;
  }

  //

  // 单选按钮
  .el-radio-group {
    .el-radio__label {
      color: #FFFFFF;
      font-weight: 400;
    }

    span.el-radio__input {
      .el-radio__inner {
        background: #11151A;
        border: 1px solid rgba(74, 89, 110, 1);
      }
    }

    span.el-radio__input.is-checked {
      .el-radio__inner {
        background: #11151A;
        border: 1px solid #46B2FF;
      }

      .el-radio__inner::after {
        width: 8px;
        height: 8px;
        background-color: #46B2FF;
      }
    }
  }

  // 多选按钮
  .el-checkbox {
    .el-checkbox__inner {
      background: #11151A;
      border: 1px solid rgba(74, 89, 110, 1);
    }

    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background: #007DE3;
        border: 1px solid #007DE3;
      }
    }
  }

  // 数字框
  .el-input-number {

    .el-input-number__increase,
    .el-input-number__decrease {
      color: #fff;
      background: #007DE3;
      border-radius: 0;
      // border: 1px solid transparent;
      border-left: 1px solid #11151A;
    }

    .el-input-number__increase {
      border-bottom: 1px solid #11151A;
      ;
    }
  }

  // 表单显示名称
  .el-form-item__label {
    color: #CCCCCC;
    font-weight: 400;
  }

  // 日期框
  .el-date-editor.el-range-editor.el-input__inner.el-date-editor--datetimerange.el-range-editor--small {
    color: #fff;
    background: rgba(17, 21, 26, 0.75) !important;
    border: 1px solid rgba(74, 89, 110, 1) !important;
    border-radius: 2px;

    .el-range-editor--small .el-range-input {
      color: #fff;
      background: rgba(17, 21, 26, 0.75) !important;
    }

    input.el-range-input {
      color: #fff;
      background: rgba(17, 21, 26, 0.75) !important;
    }

    .el-range-separator {
      color: #6D7581;
    }
  }

  // 日期框下拉
  .el-picker-panel.el-date-range-picker.el-popper.has-time {
    // background: #212A32;
    background: #212A32;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    border: none;

    .el-date-range-picker__time-header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      // color: rgba(255,255,255,0.85);
    }

    .el-date-range-picker__content.is-left {
      border-right: 1px solid transparent;
    }

    .el-picker-panel__footer {
      border-top: 1px solid rgba(255, 255, 255, 0.12);
      background: #212A32;
    }

    .el-date-range-picker__time-header>.el-icon-arrow-right {
      font-size: 10px;
      vertical-align: middle;
      display: table-cell;
      color: #fff;
    }

    .el-input .el-input__inner {
      // background: transparent;
      border: 1px solid transparent;
      border-radius: 2px;
    }

    .el-picker-panel__content.el-date-range-picker__content {
      padding: 0;

      .el-date-range-picker__header {
        // margin: 10px 0;
        padding: 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        height: 40px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.85);
        font-weight: 500;

        div {
          font-size: 10px;
        }
      }
    }

    .el-picker-panel__icon-btn {
      margin-top: 12px;
      color: rgba(255, 255, 255, 0.45);
    }

    .el-picker-panel__icon-btn:hover {
      color: #177DDC;
    }

    .el-date-table {
      th {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.85);
        text-align: center;
        // line-height: 22px;
        font-weight: 500;
        border-bottom: solid 1px rgba(255, 255, 255, 0.12);
      }

      td.prev-month,
      td.next-month {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.25);
        // line-height: 22px;
        font-weight: 400;
      }

      td.available {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
        // line-height: 22px;
        font-weight: 400;
      }

      td.available.today {
        span {
          border: 1px solid rgba(23, 125, 220, 1);
          border-radius: 2px;
          color: rgba(23, 125, 220, 1);
        }

      }

      td.in-range {
        div {
          background: #111D2C;
        }
      }

      td.start-date.today,
      td.end-date.today,
      td.start-date,
      td.end-date {
        background: transparent;

        span {
          background-color: 1px solid rgba(23, 125, 220, 1);
          border-radius: 2px;
          color: #fff;
        }
      }

    }
  }

  // 蓝色按钮
  button.el-button.blueButton.el-button--mini {
    background: #007DE3;
    border: 1px solid rgba(0, 125, 227, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.blueButton.el-button--mini:hover {
    background: #006AC0;
    border: 1px solid rgba(0, 106, 192, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.blueButton.el-button--mini.is-disabled {
    background: #072C4A;
    border: 1px solid rgba(7, 44, 74, 1);
    border-radius: 2px;
    color: #246294;
  }

  // 灰色按钮
  button.el-button.grayButton.el-button--mini {
    background: rgba(190, 197, 204, 0.20);
    border: 1px solid rgba(142, 160, 179, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.grayButton.el-button--mini:hover {
    background: #1C2025;
    border: 1px solid rgba(110, 123, 139, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }


  button.el-button.grayButton.el-button--mini.is-disabled {
    opacity: 0.57;
    background: #20262E;
    border: 1px solid rgba(84, 98, 113, 1);
    border-radius: 2px;
    color: #4E5B67;
  }

  // 取消按钮
  button.el-button.cancel_button {
    padding: 0;
    width: 120px;
    height: 26px;
    background: #D2D2D2;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    color: #000000;
    font-weight: 400;
  }

  button.el-button.cancel_button:hover {
    background: #828282;
    border: 1px solid #828282;
    border-radius: 2px;
    color: #000000;
    font-weight: 400;
  }


  button.el-button.cancel_button.is-disabled {
    opacity: 0.57;
    background: #484848;
    border: 1px solid #484848;
    border-radius: 2px;
    color: #121212;
  }

  // 确认按钮
  button.el-button.confirm_button {
    padding: 0;
    width: 120px;
    height: 26px;
    background: #007DE3;
    border: 1px solid rgba(0, 125, 227, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.confirm_button:hover {
    background: #006AC0;
    border: 1px solid rgba(0, 106, 192, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.confirm_button.is-disabled {
    background: #072C4A;
    border: 1px solid rgba(7, 44, 74, 1);
    border-radius: 2px;
    color: #246294;
  }

  // 日期框中按钮清空按钮
  button.el-button.el-picker-panel__link-btn.el-button--text.el-button--mini {
    padding: 0;
    width: 60px;
    height: 26px;
    background: #D2D2D2;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    color: #000000;
    font-weight: 400;
  }

  button.el-button.el-picker-panel__link-btn.el-button--text.el-button--mini:hover {
    background: #828282;
    border: 1px solid #828282;
    border-radius: 2px;
    color: #000000;
    font-weight: 400;
  }


  button.el-button.el-picker-panel__link-btn.el-button--text.el-button--mini.is-disabled {
    opacity: 0.57;
    background: #484848;
    border: 1px solid #484848;
    border-radius: 2px;
    color: #121212;
  }

  // 确认按钮
  button.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-plain {
    padding: 0;
    width: 60px;
    height: 26px;
    background: #007DE3;
    border: 1px solid rgba(0, 125, 227, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-plain:hover {
    background: #006AC0;
    border: 1px solid rgba(0, 106, 192, 1);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
  }

  button.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-plain.is-disabled {
    background: #072C4A;
    border: 1px solid rgba(7, 44, 74, 1);
    border-radius: 2px;
    color: #246294;
  }

  // 删除框
  //   background-image: linear-gradient(0deg, #24292F 0%, #101419 100%);
  // border: 1px solid rgba(44,59,79,1);
  .el-message-box {
    // 按钮组
    background-image: linear-gradient(0deg, #24292F 0%, #101419 100%);
    border: 1px solid rgba(44, 59, 79, 1);

    // color: #FFFFFF;
    .el-message-box__header {
      border-bottom: 1px solid #2C3B4F;
      border-top: 2px solid #4A596E;

      .el-message-box__title {
        color: #fff;
        font-weight: 600;
        line-height: 16px;
        font-size: 16px;
      }

      i.el-message-box__close.el-icon-close {
        font-size: 18px;
        color: #FFFFFF;
        line-height: 16px;
      }

    }

    .el-message-box__content {
      .el-message-box__message {
        color: #fff;
      }
    }

    .el-message-box__btns {

      // 取消按钮
      button.el-button.el-button--default.el-button--small {
        padding: 0;
        width: 120px;
        height: 26px;
        background: #D2D2D2;
        border: 1px solid #D2D2D2;
        border-radius: 2px;
        color: #000000;
        font-weight: 400;
      }

      button.el-button.el-button--default.el-button--small:hover {
        background: #828282;
        border: 1px solid #828282;
        border-radius: 2px;
        color: #000000;
        font-weight: 400;
      }


      button.el-button.el-button--default.el-button--small.is-disabled {
        opacity: 0.57;
        background: #484848;
        border: 1px solid #484848;
        border-radius: 2px;
        color: #121212;
      }

      // 确认按钮
      button.el-button.el-button--default.el-button--small.el-button--primary {
        padding: 0;
        width: 120px;
        height: 26px;
        background: #007DE3;
        border: 1px solid rgba(0, 125, 227, 1);
        border-radius: 2px;
        color: #FFFFFF;
        font-weight: 400;
      }

      button.el-button.el-button--default.el-button--small.el-button--primary:hover {
        background: #006AC0;
        border: 1px solid rgba(0, 106, 192, 1);
        border-radius: 2px;
        color: #FFFFFF;
        font-weight: 400;
      }

      button.el-button.el-button--default.el-button--small.el-button--primary.is-disabled {
        background: #072C4A;
        border: 1px solid rgba(7, 44, 74, 1);
        border-radius: 2px;
        color: #246294;
      }
    }
  }




  // 标签框
  .el-tabs {
    height: 100%;
    color: #fff;
    border-radius: 2px;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    // color: $buttonColor;
    background-color: transparent；
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #FFFFFF !important;
    font-weight: 600;
    background-color: transparent !important;
    border-bottom: 2px solid #1890ff !important;
    font-weight: 600;
  }

  .el-tabs--border-card>.el-tabs__header {
    padding-top: 5px;
    background-color: transparent;
    border-bottom: solid 1px #053D6A;
    // color: $white;
    margin: 0;
    // border-bottom: 1px solid rgba($color: $inputBgColor, $alpha: 1);
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    // color: $white;
    border: 1px solid transparent;
    background: transparent;
    // border-bottom: 1px solid rgba($color: $inputBgColor, $alpha: 1);
    height: 45px;
    line-height: 40px;
    font-size: 14px;
  }

  // 棕色文字
  .brownColor {
    color: #FFA32C;
    font-weight: 400;
  }

  // 省缺页样式
  .noneDateBox {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 35%);
    }

    div {
      position: absolute;
      bottom: 35%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-weight: 500;
      color: rgba($color: #7f819d, $alpha: 0.6);
    }
  }

  // 滚动条
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #006AC0;
    background-color: #99a9bf;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #d3dce6;
  }

  .realTime {
    .el-form-item {
      margin-bottom: 0px;
    }
  }

  // 加载背景色
  .el-loading-mask {
    position: absolute;
    z-index: 2000;
    background-color: rgba($color: #16212D, $alpha: 0.2);
    // background-color: #16212D;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }

}